<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="index.php?aktion=neu">NEUE ADRESSE</a>
    </nav>
    <table>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Telefonnummer</th>
        </tr>
        <?php
        foreach ($adressen as $adresse) {
            ?>
            <tr>
                <td>
                    <?=$adresse['vorname'];?>
                </td>
                <td>
                    <?=$adresse['nachname'];?>
                </td>
                <td>
                    <?=$adresse['email'];?>
                </td>
                <td>
                    <?=$adresse['tel'];?>
                </td>
                <td>
                    <a href="index.php?aktion=editiere&id=<?=$adresse['id'];?>">EDIT</a>
                </td>
            </tr>
            <?php
        }
        ?>
    </table>
</body>
</html>